html {
  background-image: url(фон.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
* {
  margin: 0; /* Убираем отступы */
  padding: 0; /* Убираем поля */
  box-sizing: border-box; /* Устанавливаем модель расчета размеров */
  font-family: Arial, sans-serif; /* Устанавливаем шрифт по умолчанию */
}

/* Стили для шапки */
.header {
  height: 100vh; /* Высота шапки равна высоте экрана */
  background-color: #ececec;
  background-size: cover; /* Растягиваем изображение на всю ширину и высоту */
  display: flex; /* Устанавливаем флекс-контейнер */
  flex-direction: column; /* Устанавливаем вертикальное направление флекс-элементов */
  justify-content: center; /* Выравниваем флекс-элементы по центру по вертикали */
  align-items: center; /* Выравниваем флекс-элементы по центру по горизонтали */
  color: white; /* Цвет текста */
}

/* Стили для навигационного меню */
nav {
  position: absolute; /* Абсолютное позиционирование */
  top: 0; /* Прижимаем к верху */
  left: 0; /* Прижимаем к левому краю */
  width: 100%; /* Ширина равна ширине экрана */
  height: 80px; /* Высота меню */
  background: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
}
/* Стили для списка в меню */
ul {
  display: flex; /* Устанавливаем флекс-контейнер */
  justify-content: flex-end; /* Выравниваем флекс-элементы по правому краю */
  align-items: center; /* Выравниваем флекс-элементы по центру по вертикали */
  height: 100%; /* Высота равна высоте меню */
  color: #f0f0f0;
}

/* Стили для элементов списка в меню */
li {
  margin: 0 10px; /* Отступы справа и слева */
}

/* Стили для ссылок в меню */
a {
  text-decoration: none; /* Убираем подчеркивание */
  font-size: 18px; /* Размер шрифта */
  font-weight: bold; /* Жирный шрифт */
  transition: color 0.3s; /* Плавный переход цвета */
  color: #f0f0f0;
}
/* Стили для ссылок в меню при наведении */
a:hover {
  color: #d69a17; /* Светло-серый цвет */
}

/* Стили для заголовка в шапке */
h1 {
  font-size: 64px; /* Размер шрифта */
  text-transform: uppercase; /* Прописные буквы */
  letter-spacing: 5px; /* Расстояние между буквами */
  margin-bottom: 20px; /* Отступ снизу */
}

/* Стили для параграфа в шапке */
p {
  font-size: 24px; /* Размер шрифта */
  font-style: italic; /* Курсивный шрифт */
}

/* Стили для основного содержания */
.content {
  max-width: 1200px; /* Максимальная ширина */
  margin: 0 auto; /* Отцентрирование по горизонтали */
  padding: 40px; /* Поля */
}

/* Стили для заголовков в основном содержании */
h2 {
  font-size: 36px; /* Размер шрифта */
  color: #333; /* Темно-серый цвет */
  margin-bottom: 20px; /* Отступ снизу */
}

/* Стили для параграфов в основном содержании */
p {
  font-size: 18px; /* Размер шрифта */
  color: #666; /* Светло-серый цвет */
  margin-bottom: 20px; /* Отступ снизу */
}

/* Стили для списка в основном содержании */
ul {
  list-style: disc; /* Точечные маркеры списка */
  margin-left: 40px; /* Отступ слева */
}

/* Стили для элементов списка в основном содержании */
li {
  font-size: 18px; /* Размер шрифта */
  color: #666; /* Светло-серый цвет */
  margin-bottom: 10px; /* Отступ снизу */
}

/* Стили для изображений в основном содержании */
img {
  display: inline-block; /* Строчно-блочное отображение */
  margin: 10px; /* Отступы */
  border: 5px solid #f0f0f0; /* Рамка */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень */
}
/* Стили для навигационного меню */
nav {
  position: absolute; /* Абсолютное позиционирование */
  width: 100%; /* Ширина равна ширине экрана */
  height: 80px; /* Высота меню */
  background: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
  text-align: center;
}

/* Стили для списка в меню */
ul {
  list-style: none; /* Убираем маркеры списка */
  display: flex; /* Устанавливаем флекс-контейнер */
  align-items: center; /* Выравниваем флекс-элементы по центру по вертикали */
  height: 100%; /* Высота равна высоте меню */
}
.achievement {
 position: absolute;
  width: 400px; /* Ширина для каждого достижения */
  height: 400px; /* Высота для каждого достижения */
  background: #fff; /* Цвет фона для каждого достижения */
  border: 1px solid #ccc; /* Рамка для каждого достижения */
  margin: 20px; /* Отступы для каждого достижения */
  display: flex; /* Делаем каждое достижение флекс-контейнером */
  flex-direction: column; /* Устанавливаем вертикальное направление для элементов */
  align-items: center; /* Выравниваем элементы по горизонтали */
  justify-content: center; /* Выравниваем элементы по вертикали */
  top: 300px;
  margin-right: 30px;
}
.achievement1 {
  position: absolute;
  width: 400px; /* Ширина для каждого достижения */
  height: 400px; /* Высота для каждого достижения */
  background: #fff; /* Цвет фона для каждого достижения */
  border: 1px solid #ccc; /* Рамка для каждого достижения */
  margin: 20px; /* Отступы для каждого достижения */
  display: flex; /* Делаем каждое достижение флекс-контейнером */
  flex-direction: column; /* Устанавливаем вертикальное направление для элементов */
  align-items: center; /* Выравниваем элементы по горизонтали */
  justify-content: center; /* Выравниваем элементы по вертикали */
  margin-left: 1300px;
  top: 300px;
}
.h3 {
  font-size: 36px; /* Размер шрифта */
  color: #333; /* Темно-серый цвет */
  margin-bottom: 20px; /* Отступ снизу */
}
.gallery {
  display: flex; /* Устанавливаю свойство display в значение flex, чтобы элементы внутри блока gallery выстраивались в ряд */
  flex-wrap: wrap; /* Устанавливаю свойство flex-wrap в значение wrap, чтобы элементы внутри блока gallery переносились на новую строку, если не помещаются в одну */
  justify-content: center; /* Устанавливаю свойство justify-content в значение center, чтобы элементы внутри блока gallery выравнивались по центру по горизонтали */
  align-items: center; /* Устанавливаю свойство align-items в значение center, чтобы элементы внутри блока gallery выравнивались по центру по вертикали */
}

.gallery img {
  width: 400px; /* Устанавливаю ширину изображений в 300 пикселей */
  height: 300px; /* Устанавливаю высоту изображений в 200 пикселей */
  margin: 50px; /* Устанавливаю отступы между изображениями в 10 пикселей */
  object-fit: cover; /* Устанавливаю свойство object-fit в значение cover, чтобы изображения заполняли полностью свой контейнер, сохраняя при этом свои пропорции */

}
.figcaption {
  font-size: 36px; /* Размер шрифта */
  color: #333; /* Темно-серый цвет */
  margin-bottom: 20px; /* Отступ снизу */
}
h3 {
  position: absolute;
  font-size: 36px; /* Размер шрифта */
  color: #333; /* Темно-серый цвет */
  margin-bottom: 20px; /* Отступ снизу */
  left: 500px;
}
card {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.card-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}
.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-info {
  flex: 1;
}
.card-info h2 {
  margin: 0;
  font-size: 24px;
  color: #333333;
}
.card-info p {
  margin: 10px 0;
  font-size: 18px;
  color: #666666;
}
.card-info a {
  display: inline-block;
  margin-right: 10px;
  padding: 5px 10px;
  border: 1px solid #333333;
  border-radius: 5px;
  text-decoration: none;
  color: #333333;
}
.card-info a:hover {
  background-color: #333333;
  color: #ffffff;
}